# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.vscode/

# Snowflake / Credentials (絶対に含めない)
.env
creds.json
*.pem

# Streamlit
.streamlit/*
!.streamlit/secrets.toml.example

# Terraform の一時ディレクトリとプラグイン
**/.terraform/

# ステートファイル（ローカル実行時の状態記録）
*.tfstate
*.tfstate.*

# 変数定義ファイル（パスワードなどが含まれるため除外）
*.tfvars
*.tfvars.json

# Terraform の実行時生成ファイル
terraform/99_app_env.auto.tfvars
terraform/.backend.auto.*.hcl


# ログファイル
crash.log

# OS
.DS_Store
Thumbs.db

# Logs
logs/

# 個人的メモ
.memo/