# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.vscode/

# Snowflake / Credentials (絶対に含めない)
.env
creds.json
*.pem

# OS
.DS_Store
Thumbs.db

# Data files (必要に応じて追加)
data/*.csv

# Logs
logs/

# dbt
enterprise_data_pipeline/profiles.yml  