# .streamlit/secrets.toml
[connections.snowpark]
account = "your-org-your-account"
user = "your-user"
password = "your-password-or-token"
role = "DEV_DBT_ROLE"
warehouse = "DEV_DBT_WH"
database = "DEV_GOLD_DB"
schema = "MARKETING_MART"